name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Task
      uses: arduino/setup-task@v1
    - name: Install Soroban
      run: cargo install --locked --version 20.0.3 soroban-cli --features opt
    - name: Check code formatting
      run: task fmt && git diff --exit-code
    - name: Run tests
      run: task test
